@page "/demos"

<PageTitle>Project Demos - Aptivi</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using aptivi.github.io.Data
@using System.IO
@using System.Text.Json
@inject ProjectService ProjService
@inject NavigationManager NavManager

<h1>Demos</h1>
<br />
<p>
    
    Here lists all our project demos that you can try out from this website. In order to be able to utilize the
	demonstrated library, you must install it to your C# project. Select one of the projects below.
</p>

<table class="table" style="vertical-align: middle" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>Define Word</strong>
            </td>
            <td>
                This demo application allows you to define a word according to the list of words from The English
				Dictionary API. This is based on Nettify.
            </td>
            <td>
                <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("/define"))">
					<span class="oi oi-media-play" aria-hidden="true" />
			    </button>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Find Names</strong>
            </td>
            <td>
                This demo application allows you to find names with conditions according to the exer-expanding
				list of all the English-pronounced names. This is based on Textify and our words list.
            </td>
            <td>
                <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("/namefind"))">
					<span class="oi oi-media-play" aria-hidden="true" />
			    </button>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Generate Names</strong>
            </td>
            <td>
                This demo application allows you to generate names with conditions according to the exer-expanding
				list of all the English-pronounced names. This is based on Textify and our words list.
            </td>
            <td>
                <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("/namegen"))">
					<span class="oi oi-media-play" aria-hidden="true" />
			    </button>
            </td>
        </tr>
    </tbody>
</table>
