@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to <span class="title-branding">APTIVI</span>!</h1>
<h3>...where tech changes.</h3>
<br />
<body>
	We, Aptivi, were established in 2014 as an initial PC repair and expertise center to save the world.
	Over time, we are getting expanded to programming, so we have made some of the projects that we are
	proud of. We are not only interested in PCs, but also interested in technology in general, which is
	our main role.
</body>


<ContactBox Title="Contact us!" Description="You can contact us using the following links:" />
