@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to <span class="title-branding">APTIVI</span>!</h1>
<h3>...where tech changes.</h3>
<br />
<body>
	&emsp;
	We, Aptivi, were established in 2014 as an initial PC repair and expertise center to save the world.
	Over time, we are getting expanded to programming, so we have made some of the projects that we are
	proud of. We are not only interested in PCs, but also interested in technology in general, which is
	our main role. We strive to improve the technology life and to make technology easier in the future,
	especially the computers.
	<br />
	<br />
	<strong>We pride with the following:</strong>
	<br />
	<br />
	<ul>
		<li>
			<strong>We care about our products: </strong><br />&emsp;
			Our products are made with our own extensive care and our own strict quality testing procedures,
			ensuring that no life-threatening and product-breaking problems occur. We make sure that our
			products will be competently tested before their first debut.
		</li>
		<li>
			<strong>Our welcoming community: </strong><br />&emsp;
			Our community keeps getting expanded during our lifetime. We make sure that our community will
			remain committed in helping you and our other end-users concerning your difficulties regarding
			our products.
		</li>
		<li>
			<strong>We 💜 technology: </strong><br />&emsp;
			Our love of technology allows us to be formed as both the community and the company, because
			it is all about us. We focus on improving the field that we love.
		</li>
		<li>
			<strong>Who are we?: </strong><br />&emsp;
			We are Aptivi, where tech changes! The triangle in our logo represents the “Prism of the Tech
			Future.”
		</li>
	</ul>
</body>


<ContactBox Title="Contact us!" Description="You can contact us using the following links:" />
