@page "/"

<PageTitle>Index</PageTitle>
<MainTitle/>

<body>
	<CardPicture Title="Who are we?">
		We, Aptivi, were established in 2014 as an initial PC repair and expertise center to save the world.
		Over time, we are getting expanded to programming, so we have made some of the projects that we are
		proud of. We are not only interested in PCs, but also interested in technology in general, which is
		our main role. We strive to improve the technology life and to make technology easier in the future,
		especially the computers. We are Aptivi, where tech changes! The triangle in our logo represents the
		“Prism of the Tech Future.” We're established as an independent community on 2014 when we were
		nameless, and we constantly deliver the best solutions to all the problems you may be facing, as well
		as we innovate new ideas for our new projects.
	</CardPicture>
	<strong>Here are the points in which we're proud of:</strong>
	<br />
	<br />
	<ul>
		<li>
			<strong>We care about our products!</strong><br />
			Our products are made with our own extensive care and our own strict quality testing procedures,
			ensuring that no life-threatening and product-breaking problems occur. We make sure that our
			products will be competently tested before their first release to ensure that your user
			experience is always the most straightforward.
		</li>
		<li>
			<strong>We have a welcoming community!</strong><br />
			Our community keeps getting expanded during our lifetime. We make sure that our community will
			remain committed in helping you and our other end-users concerning your difficulties regarding
			our products while still maintaining the high bar for our own products to deliver the most
			helpful customer service.
		</li>
		<li>
			<strong>We 💜 technology!</strong><br />
			Our love of technology allows us to be formed as both the community and the company, because
			it is all about us. We focus on improving the field that we love, and we give and take as
			mutual relationships with you and us to ensure that you don't miss anything related to
			technology.
		</li>
	</ul>
</body>

<CardPicture Title="Privacy policy">
	We improve our products and advertising by using Microsoft Clarity to see how you use our website.
	By using our site, you agree that we and Microsoft can collect and use this data. Our privacy
	statement that is written below has more details.<br /><br />
	We partner with Microsoft Clarity and Microsoft Advertising to capture how you use and interact with
	our website through behavioral metrics, heatmaps, and session replay to improve and market our
	products/services. Website usage data is captured using first and third-party cookies and other tracking
	technologies to determine the popularity of products/services and online activity. Additionally, we use
	this information for site optimization, fraud/security purposes, and advertising. For more information
	about how Microsoft collects and uses your data, visit the <a href="https://privacy.microsoft.com/privacystatement">Microsoft Privacy Statement</a>.
</CardPicture>

<ContactBox Title="Contact us!">
	You can contact us using the following links:
</ContactBox>
