<div class="alert card-form card-vertical mt-4">
	<div>
		<img class="card-picture" src="/assets/@AssetName">
	</div>
	<div>
		<strong class="card-title">@Title</strong>
		<br />
		<br />
		<span>
			@ChildContent
		</span>
	</div>
</div>

@code {
	[Parameter]
	public string AssetName { get; set; } = "aptivi-logo-transparent-ios.png";
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
