<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="assets/aptivi-written-transparent.png" width="190"  />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <span class="nav-section">
        Main links:
    </span>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="downloads">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Downloads
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="namegen">
                <span class="oi oi-person" aria-hidden="true"></span> Name Gen Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="namefind">
				<span class="oi oi-person" aria-hidden="true"></span> Name Find Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="define">
                <span class="oi oi-book" aria-hidden="true"></span> Dictionary Demo
            </NavLink>
        </div>
    </nav>
    <span class="nav-section">
        External links:
    </span>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://officialaptivi.wordpress.com/">
                <span class="oi oi-globe" aria-hidden="true"></span> Our blog
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
